<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tensua.operator.blog.mapper.BlogListMapper">

    <resultMap id="BaseResultMap" type="com.tensua.operator.blog.entity.BlogList">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="authorId" column="author_id" jdbcType="BIGINT"/>
            <result property="authorName" column="author_name" jdbcType="VARCHAR"/>
            <result property="picture" column="picture" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="blogBrowse" column="blog_browse" jdbcType="INTEGER"/>
            <result property="isDraft" column="is_draft" jdbcType="TINYINT"/>
            <result property="isTop" column="is_top" jdbcType="TINYINT"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
            <result property="isPrivate" column="is_private" jdbcType="TINYINT"/>
            <result property="isOriginal" column="is_original" jdbcType="TINYINT"/>
            <result property="createUserId" column="create_user_id" jdbcType="BIGINT"/>
            <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
            <result property="updateUserId" column="update_user_id" jdbcType="BIGINT"/>
            <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,content,
        author_id,author_name,picture,
        version,blog_browse,is_draft,
        is_top,is_delete,is_private,
        is_original,create_user_id,create_date,
        update_user_id,update_date
    </sql>
</mapper>
