<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cloud.operator.friends.mapper.FriendRequestMapper">

    <resultMap id="BaseResultMap" type="com.example.cloud.operator.friends.entity.FriendRequest">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <baseResult property="sendUserId" column="send_user_id" jdbcType="BIGINT"/>
            <baseResult property="sendUserUsername" column="send_user_username" jdbcType="VARCHAR"/>
            <baseResult property="receiveUserId" column="receive_user_id" jdbcType="BIGINT"/>
            <baseResult property="receiveUserUsername" column="receive_user_username" jdbcType="VARCHAR"/>
            <baseResult property="message" column="message" jdbcType="VARCHAR"/>
            <baseResult property="infoState" column="info_state" jdbcType="TINYINT"/>
            <baseResult property="isAgree" column="is_agree" jdbcType="TINYINT"/>
            <baseResult property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <baseResult property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,send_user_id,send_user_username,
        receive_user_id,receive_user_username,message,
        info_state,is_agree,create_time,
        update_time
    </sql>
</mapper>
