<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cloud.operator.moments.mapper.MomentsLikesMapper">

    <resultMap id="BaseResultMap" type="com.example.cloud.operator.moments.entity.MomentsLikes">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="momentsId" column="moments_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,moments_id,user_id,
        create_time
    </sql>
</mapper>
