<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tensua.operator.moments.mapper.MomentsCommentMapper">

    <resultMap id="BaseResultMap" type="com.tensua.operator.moments.entity.MomentsComment">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="momentsId" column="moments_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="context" column="context" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,moments_id,user_id,
        context,create_time,is_delete
    </sql>
</mapper>
